@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  color: #222;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.content {
  flex-grow: 1;
}

/*заголовок страницы*/
.header {
  background-color: #222;
  color: white;
  padding: 19px 0;
  height: 75px;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
}
.header-right {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  position: relative;
}
.header-left {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header-link {
  text-decoration: none;
  color: transparent;
}
.header-link span {
  color: #fff;
}
.header-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header svg {
  fill: #E8E8E8;
  transition: all 0.4s ease;
}
.header svg:hover {
  fill: #F16D7F;
}

.basket {
  position: absolute;
  right: 0;
  top: 40px;
  width: 400px;
  background-color: #fff;
  color: #000;
  z-index: 12;
  padding: 10px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 14px;
}
.basketRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}
.basketHeader {
  font-weight: bold;
}
.basketTotal {
  font-weight: bold;
  text-align: right;
}

.logo {
  transition: all 400ms ease;
}
.logo:hover {
  transform: rotate(360deg) scale(1.2);
}

.main-nav {
  width: 232px;
  height: 764px;
  padding: 37px 34px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 75px;
  color: #000;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.main-nav-title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 24px;
}
.main-nav-list {
  list-style-type: none;
}
.main-nav-item {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
}
.main-nav-link {
  display: block;
  text-decoration: none;
  margin-bottom: 12px;
  color: #F16D7F;
}
.main-nav-close {
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  background-color: transparent;
  font-weight: 900;
}

.submenu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}
.submenu-item {
  padding-left: 22px;
}
.submenu-link {
  display: block;
  text-decoration: none;
  color: #6F6E6E;
}

.main-nav--close {
  display: none;
}

/*обложка*/
.promo {
  background-color: #F1E4E6;
}
.promo-wrap {
  background-image: url("../img/promo.png");
  background-position-x: -226px;
  background-position-y: bottom;
  background-repeat: no-repeat;
  height: 764px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.promo-title {
  float: right;
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 100px;
  -webkit-animation: tracking-in-contract-bck 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-contract-bck 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.promo-title .red {
  color: #F16D7F;
}
.promo-title .big {
  font-weight: 900;
  font-size: 48px;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-11 23:56:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
/*достижения*/
/*достижения*/
.feature {
  background-color: #222224;
  padding: 103px 0;
  text-align: center;
  color: #FBFBFB;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.feature-wrap {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 90px;
       column-gap: 90px;
}
.feature_item {
  width: 360px;
  padding-top: 65px;
  background-repeat: no-repeat;
  background-position-x: center;
}
.feature-head {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.feature .item_deliv {
  background-image: url("../img/feature1.svg");
}
.feature .item_sales {
  background-image: url("../img/feature2.svg");
}
.feature .item_qual {
  background-image: url("../img/feature3.svg");
}

/*обратная связь*/
/*обратная связь*/
.subscribe {
  height: 448px;
  background-image: url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #222224;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.subscribe-wrap {
  padding: 100px 0 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe_avatar {
  width: 360px;
  display: flex;
  row-gap: 32px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.subscribe_avatar .fb-ital {
  font-style: italic;
  font-weight: 400;
}

.sb-title {
  font-size: 24px;
  padding-bottom: 32px;
}
.sb-text {
  font-size: 18px;
  font-weight: 400;
}
.sb-input {
  background-color: #E1E1E1;
  width: 256px;
  height: 49px;
  border: none;
  border-radius: 25px 0 0 25px;
  padding-left: 22px;
}
.sb-input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.sb-input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.sb-input::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.sb-btn {
  background-color: #F16D7F;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: none;
  width: 100px;
  height: 49px;
  border-radius: 0 25px 25px 0;
  transition: all 400ms ease;
}
.sb-btn:hover {
  background-color: #E05C6E;
  transform: scale(1.1);
}

/*подвал страницы*/
.footer {
  background-color: #222224;
}
.footer-wrap {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

.copyriht {
  align-self: center;
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
}

.icons {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.icons_item {
  background-color: #fff;
  list-style-type: none;
}
.icons_link {
  text-decoration: none;
  color: #222;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: all 400ms ease;
}
.icons_link:hover {
  color: #fff;
  background-color: #F16D7F;
}

/*категории товаров*/
/*категории товаров*/
.offer {
  padding: 65px 0 96px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.offer_item {
  width: 360px;
  height: 260px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  padding: 105px 0;
  background-color: #5D5D5D;
  transition: font-size 400ms ease;
}
.offer_item:hover span {
  font-size: 44px;
}
.offer .women {
  background-image: url("../img/for_women.jpg");
}
.offer .men {
  background-image: url("../img/for_men.jpg");
}
.offer .kids {
  background-image: url("../img/for_kids.jpg");
}
.offer .acc {
  background-image: url("../img/accesoires.jpg");
  width: 100%;
  height: 180px;
  padding: 65px 0;
}
.offer_red {
  color: #F16D7F;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
} /*заголовки страниц*/
/*стили страницы каталог*/
.caption {
  background-color: #F8F3F4;
}
.caption-wrap {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.caption-head {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.bdc-item::before {
  content: "/";
  margin-right: 10px;
}

.bdc-item:first-child::before {
  display: none;
}

.bdc-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.bdc-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: all 0.4s ease;
}

.bdc-link--current {
  font-weight: bold;
  color: #F16D7F;
  cursor: default;
}

.bdc-link[href]:hover {
  text-decoration: underline;
  color: #F16D7F;
}

.products {
  /*элемент-продукт*/
}
.products_title {
  text-align: center;
}
.products_title_head {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}
.products_title_desc {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}
.products_catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.products_item {
  width: 360px;
  background-color: #F8F8F8;
  position: relative;
}
.products_item .item_text-wrap {
  padding: 25px 18px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: space-between;
}
.products_item .item_head {
  font-size: 13px;
  line-height: 16px;
  transition: all 400ms ease;
}
.products_item .item_head a {
  text-decoration: none;
  color: #000;
}
.products_item .item_head:hover a {
  color: #F16D7F;
  text-shadow: 3px 5px 4px #9f9f9f;
}
.products_item .item_des {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.products_item .item_price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.products_item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.products_item:hover .overlay {
  opacity: 1;
}

.wrap-cat {
  margin-top: 51px;
  margin-bottom: 96px;
}

.wrap-prod {
  margin: 128px 0;
}

.but_cat {
  color: #F26376;
  text-align: center;
  text-decoration: none;
  border: 1px solid #FF6A6A;
  font-size: 16px;
  padding: 16px 32px;
  display: inline-block;
  transition: all 400ms ease;
}
.but_cat:hover {
  color: #fff;
  background-color: #F16D7F;
  transform: scale(1.25);
  box-shadow: 2px 2px 4px #9F9F9F;
  border-radius: 10px;
}

.center {
  text-align: center;
  margin: 48px 0 95px;
}

/*стили страницы каталог*/
.prod-filter {
  display: flex;
  justify-content: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-bottom: 64px;
}

.filter {
  position: relative;
  width: 360px;
}
.filter[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter-main {
  color: #EF5B70;
  fill: #EF5B70;
}
.filter-main {
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  display: block;
  padding: 13px 0 13px 16px;
  position: relative;
  z-index: 11;
  transition: all 400ms ease;
}
.filter-main::-webkit-details-marker {
  display: none;
}
.filter-main:hover {
  color: #EF5B70;
}
.filter-main:hover svg {
  fill: #EF5B70;
}
.filter-main svg {
  width: 15px;
  height: 10px;
  margin-left: 11px;
  transition: all 400ms ease;
}
.filter-overlay {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  padding: 16px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-item[open] .filter-name {
  color: #EF5B70;
}
.filter-item {
  margin-bottom: 18px;
}
.filter-name {
  display: block;
  padding: 11px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  text-transform: uppercase;
  color: #6F6E6E;
}
.filter-name::-webkit-details-marker {
  display: none;
}
.filter-list {
  padding-left: 0;
  list-style-type: none;
}
.filter-list li {
  padding: 11px;
  margin-left: 5px;
}
.filter-list-btn {
  border: none;
  background-color: transparent;
  color: #6F6E6E;
  font-weight: 400;
  font-size: 14px;
}

.sort {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 28px;
       column-gap: 28px;
  color: #6F6E6E;
}
.sort-item {
  position: relative;
}
.sort-item[open] i {
  transform: rotate(90deg) translateX(-9px) scale(1.5);
}
.sort-name {
  border: none;
  background-color: transparent;
  color: #6F6E6E;
  cursor: pointer;
  transition: all 400ms ease;
  display: block;
  position: relative;
}
.sort-name:hover i {
  transform: rotate(90deg) translateX(-9px) scale(1.5);
}
.sort-list {
  position: absolute;
  background: #fff;
  list-style-type: none;
  padding: 9px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 9px;
  right: 0;
  top: 22px;
  min-width: 80px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.sort-list li {
  text-align: left;
}
.sort-list li input {
  border: 1px solid #EBEBEB;
  margin-right: 9px;
}
.sort-list li label {
  text-transform: uppercase;
}
.sort i {
  padding-left: 10px;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 284px;
  height: 44px;
  margin: 48px auto;
  counter-reset: pagcount;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  list-style: none;
}
.pagination-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #C4C4C4;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  transition: all 400ms ease;
}
.pagination-btn i {
  color: #000;
}
.pagination-btn:not(.cursor-def):hover {
  color: #EF5B70;
  transform: scale(1.5);
  text-shadow: 2px 2px 2px #9F9F9F;
}

.pag-count {
  counter-increment: pagcount;
}

.first-count .pagination-btn {
  color: #EF5B70;
}

.pag-count .pagination-btn::before {
  content: counter(pagcount);
}

.cursor-def {
  cursor: default;
}

/*стили страницы продукт*/
.product-slide {
  background-color: #F7F7F7;
  border: 1px solid #EAEAEA;
  text-align: center;
  padding-bottom: 65px;
}
.product-slide .arrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-slide .arrow-item {
  padding: 12.65px 17.3px;
  background-color: rgba(42, 42, 42, 0.15);
  border: none;
  cursor: pointer;
  transition: all 400ms ease;
}
.product-slide .arrow-item:hover {
  color: #F16D7F;
}
.product-slide .left {
  left: 5px;
}
.product-slide .right {
  right: 5px;
}
.product-descript {
  outline: 1px solid #EAEAEA;
  padding: 64.5px 0;
  /*250px*/
  text-align: center;
  font-weight: 300;
  margin-top: -65px;
  background-color: #fff;
}
.product-descript-text {
  border-bottom: 1px solid #EAEAEA;
}
.product-descript-text .head-cat {
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
}
.product-descript-text .head-cat::after {
  content: "";
  display: block;
  height: 3px;
  width: 63px;
  background-color: #EF5B70;
  margin: 12px auto;
}
.product-descript-text h3 {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 48px;
}
.product-descript-text p {
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  padding-bottom: 32px;
}
.product-descript-text .price {
  color: #EF5B70;
  font-size: 24px;
  padding-bottom: 65px;
}
.product-descript-ctrl {
  padding-top: 65px;
}

.descript-wrap {
  width: 642px;
  margin: 0 auto;
}

.but_prod {
  padding: 15px 57px 15px 23px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 23px;
       column-gap: 23px;
  transition: all 400ms ease;
}
.but_prod svg {
  fill: #F26376;
}
.but_prod:hover span {
  visibility: hidden;
}
.but_prod:hover svg {
  fill: #fff;
  -webkit-animation: cart 2s infinite normal;
          animation: cart 2s infinite normal;
}

.wrap-ctrl {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 23px;
       column-gap: 23px;
  font-size: 14px;
  padding-bottom: 48px;
}
.wrap-ctrl button {
  border: none;
  background-color: transparent;
  color: #6F6E6E;
  cursor: pointer;
  transition: all 400ms ease;
}
.wrap-ctrl button:hover i {
  transform: rotate(90deg) translateX(-9px) scale(1.5);
}
.wrap-ctrl i {
  padding-left: 9px;
}

@-webkit-keyframes cart {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(120px);
  }
}

@keyframes cart {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(120px);
  }
}
/*корзина*/
.wrap-cart {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
}

.pr-element {
  width: 652px;
  display: flex;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  border: 1px solid #EAEAEA;
  margin-bottom: 40px;
  position: relative;
}
.pr-element img {
  width: 262px;
}
.pr-element-text {
  margin: 22px 31px;
}
.pr-element-text h3 {
  color: #222;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 45px;
}
.pr-element-text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.pr-element-text p .red {
  color: #EF5B70;
}
.pr-element-text p .grey {
  color: #6F6E6E;
}
.pr-element-text p .blok {
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  text-align: center;
  padding: 0 16px;
  font-size: 18px;
  color: #656565;
}
.pr-element i {
  position: absolute;
  top: 28px;
  right: 24px;
  font-size: 18px;
}
.pr-ctrl {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.btn-cart {
  border: 1px solid #A4A4A4;
  background-color: transparent;
  font-weight: 300;
  font-size: 14px;
  padding: 16px 40px;
  cursor: pointer;
}

.over {
  padding: 8px 12px;
  border-color: #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.over svg {
  fill: #fff;
}

.order {
  width: 360px;
}
.order .adres {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 57px;
  width: 360px;
}
.order .adres h2 {
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}
.order .adres input {
  border: 1px solid #A4A4A4;
  padding: 16px 17px;
  width: 100%;
}
.order .adres-btn {
  font-size: 11px;
  padding: 10px 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.order .count {
  min-height: 214px;
  background-color: #F5F3F3;
  padding: 39px 44px 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order .count .left {
  text-align: right;
}
.order .count .left span {
  margin-left: 15px;
}
.order .count .left .red {
  color: #F16D7F;
  font-weight: 700;
}
.order .count .sub {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}
.order .count .grand {
  padding-bottom: 21px;
  border-bottom: 1px solid #E2E2E2;
  width: 100%;
  margin-bottom: 17px;
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}
.order .count-btn {
  color: #fff;
  background-color: #F16D7F;
  align-self: stretch;
  border: none;
}

/*Регистрация*/
.wrap-reg {
  margin-top: 64px;
  margin-bottom: 96px;
  display: flex;
  justify-content: space-between;
}

.wrap-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reg-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}
.reg-form label {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}
.reg-form .sex {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 11px;
}
.reg-form .password {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: -5px;
}
.reg-form input {
  border: 1px solid #A4A4A4;
  padding: 16px 17px;
  margin-bottom: 20px;
}
.reg-btn {
  color: #fff;
  background-color: #F16D7F;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  font-weight: 400;
}
.reg-btn i {
  margin-left: 20px;
}
.reg-descript {
  max-width: 652px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.reg-descript h2 {
  font-size: inherit;
  font-weight: inherit;
  margin-bottom: 22px;
}
.reg-descript-list {
  margin-top: 22px;
}
.reg-descript-list li {
  margin-bottom: 16px;
  background: url("../img/check.svg") 0 50% no-repeat;
  list-style-type: none;
  padding-left: 42px;
}

/*tablet*/
@media (max-width: 1200px) {
  .wrap {
    width: 736px;
  }
  .promo-wrap {
    height: 368px;
    background-position-x: 0;
    background-size: contain;
  }
  .promo-title {
    font-size: 24px;
    margin-right: 0;
  }
  .promo-title .big {
    font-size: 44px;
  }
  .offer {
    padding-top: 20px;
    padding-bottom: 155px;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .offer_item {
    width: 232px;
    height: 168px;
    padding: 59px 0;
    background-size: cover;
  }
  .offer .acc {
    padding: 33px 0;
    height: 116px;
  }
  .products_catalog {
    row-gap: 16px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .center {
    margin: 32px 0 48px;
  }
  .feature {
    padding: 48px 0 64px;
  }
  .feature-wrap {
    flex-direction: column;
    row-gap: 48px;
    align-items: center;
  }
  .subscribe {
    height: 614px;
  }
  .subscribe-wrap {
    flex-direction: column;
    align-items: center;
    padding: 64px 0 140px;
    row-gap: 48px;
  }
  .sb-input {
    width: 243px;
  }
  .wrap-cart {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  .pr-element {
    width: 734px;
  }
  .pr-ctrl {
    justify-content: center;
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
  .products_edit {
    margin-bottom: 64px;
  }
  .order {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .novis {
    display: none;
  }
}
/*mobile*/
@media (max-width: 760px) {
  .wrap {
    width: 360px;
  }
  .people,
.cart {
    display: none;
  }
  .promo-wrap {
    background-image: none;
  }
  .promo-title {
    float: none;
    margin: 0 auto;
    font-size: 20px;
  }
  .promo-title .big {
    font-size: 38px;
  }
  .offer {
    padding-top: 64px;
    padding-bottom: 64px;
    row-gap: 32px;
    flex-direction: column;
    align-items: center;
  }
  .offer_item {
    height: 247px;
    width: 343px;
    padding: 98px 0;
  }
  .offer .acc {
    width: 343px;
  }
  .center {
    margin: 40px 0 96px;
  }
  .subscribe {
    height: 614px;
  }
  .subscribe_avatar,
.subscribe form {
    width: 343px;
  }
  .subscribe-wrap {
    padding-bottom: 110px;
    row-gap: 60px;
  }
  .footer-wrap {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 43px;
  }
  .icons {
    margin-bottom: 40px;
  }
  .caption-wrap {
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding: 24px 0 46px;
  }
  .novis-mob {
    display: none;
  }
  .filter {
    width: 38px;
  }
  .filter[open] {
    width: 360px;
    position: absolute;
  }
  .filter-main {
    padding: 0;
  }
  .filter-main svg {
    /*width="15" height="10"*/
    width: 37.5px;
    height: 25px;
  }
  .sort {
    width: 300px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .products-cat {
    margin-top: 24px;
  }
  .prod-filter {
    padding-bottom: 32px;
  }
  .slide-prod {
    width: 360px;
  }
  .descript-wrap {
    width: 326px;
  }
  .product-descript-text {
    border-bottom: none;
  }
  .price {
    display: inline-block;
    width: 175px;
    border-bottom: 1px solid #EAEAEA;
  }
  .products-prod {
    margin: 64px 0;
  }
  .sort-name {
    font-size: 10px;
  }
  .pr-element {
    width: 358px;
    height: 188px;
  }
  .wrap-cart {
    margin-top: 40px;
  }
  .pr-ctrl {
    margin-top: 30px;
  }
  .pr-element {
    margin-top: 32px;
  }
  .order {
    width: 100%;
    flex-direction: column;
  }
  .products_edit {
    margin-bottom: 48px;
  }
  .pr-ctrl {
    justify-content: space-between;
    -moz-column-gap: normal;
         column-gap: normal;
  }
  .pr-element-text {
    margin: 13.5px 17px;
  }
  .pr-element-text h3 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
  }
  .pr-element-text p {
    font-size: 14px;
    line-height: 17px;
  }
  .pr-element-text p .blok {
    font-size: 10px;
  }
  .pr-element i {
    top: 17px;
    right: 12px;
  }
  .pr-element img {
    width: auto;
  }
  .btn-cart {
    padding: 9px 18px;
    font-size: 12px;
    text-transform: capitalize;
  }
  .count {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */