.header {
    background-color: #222;
    color: white;
    padding: 19px 0;
    height: 75px;


    &-wrap {
        display: flex;
        justify-content: space-between;
    }

    &-right {
        display: flex;
        align-items: center;
        column-gap: 32px;
        position: relative;
    }

    &-left {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }

    &-link {
        text-decoration: none;
        color: transparent;

        span {
            color: #fff;
        }
    }

    &-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    svg {
        fill: #E8E8E8;
        transition: all 0.4s ease;
    }

    svg:hover {
        fill: $color_accent;
    }
}

.basket {
    position: absolute;
    right: 0;
    top: 40px;
    width: 400px;
    background-color: #fff;
    color: #000;
    z-index: 12;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;

    &Row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 10px;
    }

    &Header {
        font-weight: bold;
    }

    &Total {
        font-weight: bold;
        text-align: right;
    }
}

.logo {
    transition: all 400ms ease;

    &:hover {
        transform: rotate(360deg) scale(1.2);
    }
}

.main-nav {
    width: 232px;
    height: 764px;
    padding: 37px 34px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 75px;
    color: #000;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

    &-title {
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 24px;
    }

    &-list {
        list-style-type: none;
    }

    &-item {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 14px;
    }

    &-link {
        display: block;
        text-decoration: none;
        margin-bottom: 12px;
        color: $color_accent;
    }

    &-close {
        position: absolute;
        right: 16px;
        top: 16px;
        border: none;
        background-color: transparent;
        font-weight: 900;
    }
}

.submenu {
    &-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 11px;
    }

    &-item {
        padding-left: 22px;
    }

    &-link {
        display: block;
        text-decoration: none;
        color: #6F6E6E;
    }
}

.main-nav--close {
    display: none;
}